# application id
PYTHON_APPLICATION_ID=1

# rest server address
REST_ADRESSE="http://192.168.1.101:3000/"
# notification server address
notification_adresse="ws://capic.hd.free.fr:8181/ws"

#LEVEL_OFF = 0, LEVEL_ALERT = 1, LEVEL_ERROR = 2, LEVEL_INFO = 3, LEVEL_DEBUG = 4 
PYTHON_LOG_LEVEL=4
PYTHON_LOG_CONSOLE_LEVEL=4

PYTHON_LOG_DIRECTORY="/var/www/plow_solution/log/"
PYTHON_DIRECTORY_DOWNLOAD_TEMP="/mnt/HD/HD_a2/telechargement/temp_plowdown/"
PYTHON_DIRECTORY_DOWNLOAD="/mnt/HD/HD_a2/telechargement/"
